.resultingImg{
    float:left;
    /* position: relative;
    top: 100px; */
    margin-right: 10px;
}

.apiData{
    text-align: left;
    
}

.testCon:hover{
    color: blue;
}
.saveIcon{
    position: relative;
    left: 10px;
    bottom:1px;
    color: cornflowerblue;
    
}
@media screen and (max-width:600px) {
    .resultImg{
        position: absolute;
    }
}
